/*Root element with variables to use throughout enter website*/
:root {
  /*colors*/
  --SD-Primary: rgb(0, 0, 0);
  --SD-Secondary: rgb(51, 51, 51);
  --SD-Tertiary: rgb(255, 255, 255);
  --SD-Red: rgb(255, 0, 0);
  /*typography*/
  --fs-caption: 0.75rem;
  --fs-body: 1rem;
  --fs-body-large: 1.25rem;
  --fs-head: 1.5rem;
  --fs-head-large: 2rem;
  /*fonts*/
  --body-font: "Open Sans", sans-serif;
  --title-font: "Montserrat", sans-serif;
  /*spacing*/
  --margin-t: 2vh;
  --margin-b: 2vh;
}
/*basic body styling*/
body {
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  text-decoration-skip-ink: auto;
  image-rendering: auto;
  -webkit-line-break: normal;
  -moz-line-break: normal;
  -ms-line-break: normal;
  line-break: normal;
  orphans: 3;
  widows: 3;
  hanging-punctuation: first allow-end last;
}

/* CSS for Nav */
.navbar {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  background-color: var(--SD-Primary);
  width: 100%;
  color: var(--SD-Tertiary);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 1.5vh;
  position: sticky;
}

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: 50% 50%;
}

.nav-link {
  text-decoration: none;
  color: inherit;
  font-size: var(--fs-body-large);
  font-family: var(--body-font);
  border-radius: 2%;
  padding: 4%;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--SD-Red);
}

#SD-logo {
  width: 55%;
  vertical-align: middle;
}

.nav-toggler {
  display: none;
}

#right-nav {
  direction: rtl;
}

.mobile-nav {
  list-style: none;
  width: 100%;
  padding-left: 0%;
}

.nav-data {
  display: none;
}

.nav-toggler:checked ~ .nav-data {
  display: block;
}

.nav-toggler-icon {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 2vh;
  margin-left: 2vw;
  cursor: pointer;
}

/* CSS for Intro portion of home page*/
#group-intro,
#group-projects {
  padding-bottom: var(--margin-b);
  padding-top: var(--margin-t);
  padding-left: 7vw;
  padding-right: 7vw;
}

.members,
.projects {
  font-family: var(--title-font);
  font-size: var(--fs-head);
  text-align: center;
}

.group-photos {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 1%;
  justify-content: center;
  align-items: flex-start;
}

.member-photo {
  background-color: var(--SD-Secondary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.head-shot {
  width: 80%;
}

.member-name {
  font-family: var(--body-font);
  font-size: var(--fs-body-large);
}

.member-bio {
  font-family: var(--body-font);
  font-size: var(--fs-body);
}

/* CSS for Projects*/
.projects {
  padding-top: var(--margin-t);
}

.project-1,
.project-3 {
  display: grid;
  grid-template-columns: 40% 55%;
  grid-gap: 5%;
  padding-bottom: var(--margin-b);
}

.project-title {
  font-size: var(--fs-body-large);
  font-family: var(--title-font);
  text-decoration: underline;
}

.project-screenshot {
  width: 100%;
  border: 1vw solid;
  border-color: var(--SD-Secondary);
}

.project-2 {
  display: grid;
  grid-template-columns: 55% 40%;
  grid-gap: 2%;
  border-bottom: 0.5vh solid;
  border-color: var(--SD-Secondary);
  border-top: 0.5vh solid;
  padding-bottom: var(--margin-b);
}

.project-desc {
  font-family: var(--body-font);
  font-size: var(--fs-body);
  padding-top: 6.5vh;
}

.P-link {
  color: var(--SD-Red);
}

/* CSS for Footer */
#footer {
  background-color: black;
  width: 100%;
  height: 5vh;
}

.group-slogan {
  color: var(--SD-Red);
  font-family: var(--title-font);
  font-size: var(--fs-head);
  text-align: center;
  padding: 0.5vh;
}

/* CSS for Cian's Resume */
.howelc-row1 {
  display: grid;
  grid-template-columns: 12% 18% 70%;
  grid-gap: 1%;
}

.howelc-img {
  width: 100%;
  border: 0.25vh solid;
  border-color: var(--SD-Primary);
  border-radius: 0.5vh;
}

.h-card-howelc {
  background-color: var(--SD-Secondary);
  color: var(--SD-Tertiary);
  border: 0.25vh solid;
  border-color: var(--SD-Primary);
  border-radius: 0.5vh;
  font-size: var(--fs-body);
  font-family: var(--body-font);
}

.u-email-howelc {
  color: var(--SD-Tertiary);
}

.howelc-title {
  font-size: var(--fs-head);
  font-family: var(--title-font);
  text-decoration: underline;
}

.howelc-body {
  font-size: var(--fs-body);
  font-family: var(--body-font);
}

#howelc-info {
  padding-top: var(--margin-t);
  padding-left: 7vw;
  padding-right: 7vw;
}
#howelc-resume {
  padding-bottom: var(--margin-b);
  padding-left: 18vw;
  padding-right: 7vw;
}
.spacing-box {
  display: flex;
  justify-content: space-between;
}

/*media queries for changing screen sizes*/
@media only screen and (min-width: 280px) {
  :root {
    font-size: 70%;
  }
}

@media only screen and (min-width: 576px) {
  :root {
    font-size: 85%;
  }
}

@media only screen and (min-width: 768px) {
  :root {
    font-size: 90%;
  }
}

@media only screen and (min-width: 992px) {
  :root {
    font-size: 95%;
  }

  .mobile-nav {
    display: none;
  }

  .nav-toggler-icon {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  :root {
    font-size: 100%;
  }
}

@media only screen and (min-width: 1400px) {
  :root {
    font-size: 110%;
  }
}

@media only screen and (max-width: 992px) {
  .nav {
    display: none;
  }

  .navbar {
    grid-template-columns: none;
  }

  .nav-item {
    padding-top: 1vh;
  }
}

.nameHeader {
  text-align: center;
  margin-bottom: 10px;
}

.resumeOverview {
  float: left;
  width: 50%;
  padding: 0px;
}

.resumeOverview h2 {
  padding-left: 10px;
}

.resumeOverview p {
  padding-left: 10px;
}

.resPic {
  width: 25%;
}

.headerBarDiv {
  text-align: center;
  border-bottom: 2px solid #333;
  border-top: 2px solid #333;
  margin-bottom: 5px;
}

.headerBar {
  display: inline;
  text-align: center;
  font-size: large;
}

/* to create vertical bar at the top*/
.headerBar li {
  display: inline;
  list-style: none;
  text-align: center;
}

.imgWrapper {
  display: flex;
  text-align: center;
  padding-bottom: 1vh;
}

.resumeOverviewLeft {
  position: relative;
}

.resumeOverviewRight {
  position: relative;
  text-align: center;
  height: auto;
}

/* setup sectionWrapper for three elements */
.sectionWrapperThreeSec {
  font-family: var(--body-font);
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: center;
}

/* for same-line effect with attribute tags */
.left {
  float: left;
}

.right {
  float: right;
}

/* set fonts */
.thuloa-title {
  font-family: var(--title-font);
  text-align: center;
}

/* set fonts */
.header-thuloa {
  font-family: var(--title-font);
}

/* set fonts */
.resumeOverviewLeft {
  font-family: var(--body-font);
}

/* set fonts and wrapper formatting */
.sectionWrapper {
  font-family: var(--body-font);
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
}

.profPic {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2vh;
}

/* set padding */
.job {
  padding-left: 1vw;
  padding-right: 1vw;
}

/* set padding */
.sec-thuloa {
  padding-right: 5vw;
  padding-left: 5vw;
}

.h-card-thuloa {
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #2d2f37;
  flex-basis: content;
}

/* below two set viewing margins for the h-card microformat*/
.cardp {
  margin: 1vh;
}

.carda {
  padding-left: 1vw;
  padding-right: 1vw;
}

/* set fonts for each section */
.skillsWrapper {
  font-family: var(--body-font);
}

/* changed ONLY my body background color */
.body-thuloa {
  background-color: rgb(205, 205, 228);
}

.leungs2 {
  font-family: var(--title-font);
  font-size: var(--fs-head);
  text-align: center;
}

.leung-name {
  font-family: var(--title-font);
  font-size: 400%;
  text-align: center;
}

.leung-body {
  margin: 10px;
  padding-left: 10px;
}
